{% if product.has_footwear_sizing %}

<!-- Footwear sizes -->
<div class="col-12 col-md-6">
    <h6 class="my-2">Size:</h6>
    <select class="form-control rounded-0 w-100" name="product_size" id="id_product_size">
        <option value="6">UK 6</option>
        <option value="7">UK 7</option>
        <option value="8">UK 8</option>
        <option value="9">UK 9</option>
        <option value="10" selected>UK 10</option>
        <option value="11">UK 11</option>
        <option value="12">UK 12</option>
        <option value="13">UK 13</option>
    </select>
</div>
{% endif %}

{% if product.has_clothing_sizing %}

<!-- Clothing sizes -->
<div class="col-12 col-md-6">
    <h6 class="my-2">Size:</h6>
    <select class="form-control rounded-0 w-100" name="product_size" id="id_product_size">
        <option value="xs">XS</option>
        <option value="s">S</option>
        <option value="m" selected>M</option>
        <option value="l">L</option>
        <option value="xl">XL</option>
        <option value="xxl">XXL</option>
    </select>
</div>
{% endif %}