{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}

<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container profile-page">
    <!-- Profile title -->
    <div class="row">
        <div class="col-12 text-md-left text-center text-uppercase">
            <h3>My Profile</h3>
            <hr class="title-line">
        </div>
    </div>

    <!-- Default delivery information of user -->
    <div class="row text-uppercase">
        <div class="col-12 col-lg-6 pb-3">
            <h6 class="text-black mb-3">Default Delivery Information</h6>
            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="update-info-btn btn btn-dark text-uppercase rounded-0">Update Information</button>
            </form>
        </div>

        <!-- Users order history -->
        <div class="col-12 col-lg-6 pb-3">
            <h6 class="text-black mb-3">Order History</h6>
            <div class="order-history table-responsive rounded-0">
                <table class="table table-sm table-borderless">
                    <thead class="table-header">
                        <tr>
                            <th>Order No</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr class="small">
                            <td>
                                <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                    {{ order.order_number|truncatechars:6 }}
                                </a>
                            </td>
                            <td>{{ order.date }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                    <li>
                                        {{ item.product.name }} x {{ item.quantity }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>£{{ order.grand_total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}