{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}

<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="overlay"></div>
<!-- Checkout page title -->
<div class="container checkout-page">
    <div class="row">
        <div class="col-12 text-center text-md-left text-uppercase">
            <h3>Checkout</h3>
            <hr class="title-line">
        </div>
    </div>

    <!-- Items to be ordered list - Shows first on mobiles and medium screens and last on large screens -->
    <div class="row">
        <div class="col-12 col-lg-6 order-lg-last mb-5">
            <h6 class="text-uppercase text-muted mb-2">Order Summary ({{ product_amount }}):</h6>
            <div class="row">
                <div class="col-6 offset-3">
                    <p class="mb-2 small">Item</p>
                </div>
                <div class="col-3 text-right">
                    <p class="mb-2 small">Subtotal</p>
                </div>
            </div>
            {% for item in basket_items %}
            <div class="row">
                <div class="col-3 mb-3">
                    <a href="{% url 'product_detail' item.product.id %}">
                    {% if item.product.image %}
                    <img src="{{ item.product.image.url }}" class="checkout-image w-100" alt="{{ product.name }}">
                    {% else %}
                    <img src="{{ MEDIA_URL }}no_image.png" class="checkout-image w-100" alt="{{ product.name }}">
                    {% endif %}
                    </a>
                </div>
                <div class="col-6 mb-3 text-uppercase">
                    <p class="my-0 small"><b>{{ item.product.name }}</b></p>
                    <p class="text-muted my-0 small">Size:<b>
                            {% if item.product.has_clothing_sizing or item.product.has_footwear_sizing %}
                            {{ item.size }}
                            {% else %}
                            N/A
                            {% endif %}</b></p>
                    <p class="text-muted my-0 small">Quantity: <b>{{ item.quantity }}</b></p>
                </div>
                <div class="col-3 text-right">
                    <p class="my-0 small">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                </div>
            </div>
            {% endfor %}
            <hr class="title-line">
            <div class="row text-uppercase">
                <div class="col-8">
                    <p class="my-0">Order Total:</p>
                    <p class="my-0">Delivery:</p>
                    <p class="my-0">Grand Total:</p>
                </div>
                <div class="col-4 text-right">
                    <p class="my-0">£{{ total | floatformat:2 }}</p>
                    <p class="my-0">£{{ delivery | floatformat:2 }}</p>
                    <p class="my-0"><b>£{{ grand_total | floatformat:2 }}</b></p>
                </div>
            </div>
            <hr class="title-line">
        </div>

        <!-- Order form -->
        <div class="col-12 col-lg-6">
            <h6 class="text-uppercase text-md-left text-muted mb-2">To complete the order, please fill out the form
                below:</h6>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="my-3">
                    <legend class="fieldset-label text-uppercase small text-black mb-3">Personal Details</legend>
                    <div class="row">
                        <div class="col-lg-6">
                            {{ order_form.full_name | as_crispy_field }}
                        </div>
                        <div class="col-lg-6">
                            {{ order_form.phone_number | as_crispy_field }}
                        </div>
                    </div>
                    {{ order_form.email | as_crispy_field }}
                </fieldset>
                <fieldset class="mb-3">
                    <legend class="fieldset-label text-uppercase small text-black mb-3">Delivery Details</legend>
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    <div class="form-check form-check-inline">
                        {% if user.is_authenticated %}
                        <label class="form-check-label small text-uppercase" for="id-save-info">Save delivery
                            information to your profile</label>
                        <input class="form-check-input ml-3" type="checkbox" id="id-save-info" name="save-info" checked>
                        {% else %}
                        <label class="form-check-label text-uppercase small" for="id-save-info">
                            <a class="text-link" href="{% url 'account_signup' %}">Create account</a> or
                            <a class="text-link" href="{% url 'account_login' %}">Login </a> to
                            save delivery information
                        </label>
                        {% endif %}
                    </div>
                </fieldset>
                <hr class="title-line">
                <fieldset>
                    <legend class="fieldset-label text-uppercase small text-black mb-3">Payment</legend>
                    <!-- Stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>
                    <!-- This is used to display form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <!-- Pass the client secret to the view so we can get the payment intent id -->
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
                <div class="submit-button my-5">
                    <!-- Takes user back to basket page -->
                    <a href="{% url 'view_basket' %}" class="adjust-basket-btn btn btn-dark text-uppercase rounded-0">
                        <span><i class="fas fa-chevron-left"></i></span>
                        <span>Adjust Basket</span></a>
                    <button id="submit-button" class="order-btn btn btn-dark text-uppercase rounded-0">
                        <!-- Completes order button and if successful, takes user to checkout_success page -->
                        <span>Complete Order</span>
                        <span><i class="fas fa-lock"></i></span>
                    </button>
                    <p class="small text-uppercase text-danger mt-1">
                        <span><i class="fas fa-exclamation"></i></span>
                        <span class="ml-1">Your card will be charged <b>£{{ grand_total|floatformat:2 }}</b></span>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Loading icon shows when order submitted -->
<div id="loading-overlay">
    <span class="loading-spinner"><i class="fas fa-spinner fa-spin fa-2x"></i></span>
</div>
{% endblock %}

{% block postloadjs %}s
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}