#profile-update-form .form-control {
    box-shadow: 0 1px 3px 0 #7E7F83;
    border-radius: 0;
    color: #000000;
}

#profile-update-form input::placeholder {
    color: #7E7F83;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #7E7F83;
}

#id_default_country option:first-child {
    color: #7E7F83;
}