{% extends "base.html" %}
{% load static %}

{% block page_header %}

    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="container basket-page">
            <div class="row">
                {% if basket_items %}
                <div class="col-12 text-center text-md-left text-uppercase">
                    <h3>Shopping Basket</h3>
                    <hr class="title-line">
                </div>
                {% else %}                
                <div class="col-12 text-center text-uppercase">
                    <h3>Shopping Basket</h3>
                    <hr class="title-line">
                </div>
                {% endif %}
            </div>

            <div class="row">
                <div class="col">
                    {% if basket_items %}
                    <div class="table-responsive rounded-0 d-none d-md-block">
                        <table class="table table-sm">
                            <thead class="text-uppercase text-black">
                                <tr>
                                    <th scope="col">Product Details</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in basket_items %}
                            <tr>
                                <td class="py-3 w-25">
                                    <img src="{{ item.product.image.url }}" class="card-img-top img-fluid basket-image">
                                </td>
                                <td class="py-3 pl-2">
                                    <p class="my-0 text-uppercase">{{ item.product.name }}</p>
                                    <p class="my-0 text-uppercase text-muted small">{{ item.product.sku }}</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0"><b>£{{ item.product.price }}</b></p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0"><b>{{ item.quantity }}</b></p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0"><b>£{{ item.product.price }}</b></p>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                    {% else %}
                    <div class="col-12 text-center text-uppercase">
                        <span class="basket-icon">
                            <i class="fas fa-shopping-basket fa-5x"></i>
                        </span>
                    <p class="basket-empty-p">Your Basket is empty!</p>
                    <h4><a href="{% url 'products' %}" class="basket-btn btn btn-lg btn-dark rounded-0 py-3">
                        <i class="fas fa-chevron-left"></i>Continue Shopping</a></h4>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}