{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block page_header %}

<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="overlay"></div>
<!-- Basket Titles -->
<div class="container basket-page">
    <div class="row">
        {% if basket_items %}
        <div class="col-12 text-center text-md-left text-uppercase">
            <h3>Shopping Basket</h3>
            <hr class="title-line">
        </div>
        {% else %}
        <div class="col-12 text-center text-uppercase">
            <h3>Shopping Basket</h3>
            <hr class="title-line">
        </div>
        {% endif %}
    </div>

    <!-- Basket display on mobile devices -->
    <div class="row">
        <div class="col">
            {% if basket_items %}
            <div class="d-block d-md-none">
                <div class="row">
                    <div class="col">
                        {% include 'basket/includes/basket_total.html' %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% include 'basket/includes/checkout_button.html' %}
                        <p class="text-muted text-uppercase mt-5 mb-3 text-center">
                            A summary of your Basket contents:
                        </p>
                    </div>
                </div>
                {% for item in basket_items %}
                <div class="row">
                    <div class="col-12 col-sm-6 mb-2 text-center">
                        {% include "basket/includes/product_image.html" %}
                    </div>
                    <div class="col-12 col-sm-6 mb-2 text-center">
                        {% include "basket/includes/product_info.html" %}
                    </div>
                    <div class="col-12 col-sm-6 mb-2">
                        {% include "basket/includes/quantity_form.html" %}
                    </div>
                    <div class="col-12 col-sm-6 mb-2 text-center">
                        <p class="my-1">Price Each: £{{ item.product.price }}</p>
                        <p><b>Subtotal: </b>£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                    </div>
                </div>
                <hr class="title-line my-3">
                {% endfor %}
            </div>

            <!-- Basket display on medium sized devices and above -->
            <div class="table-responsive rounded-0 d-none d-md-block">
                <table class="table table-sm table-borderless">
                    <thead class="text-uppercase text-black table-header">
                        <tr>
                            <th scope="col">Product Details</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in basket_items %}
                    <tr>
                        <td class="py-3 w-25">
                            {% include 'basket/includes/product_image.html' %}
                        </td>
                        <td class="py-3 pl-2">
                            {% include 'basket/includes/product_info.html' %}
                        </td>
                        <td class="py-3">
                            <p class="my-0"><b>£{{ item.product.price }}</b></p>
                        </td>
                        <td class="py-3">
                            {% include 'basket/includes/quantity_form.html' %}
                        </td>
                        <td class="py-3">
                            <p class="my-0"><b>£{{ item.product.price | calc_subtotal:item.quantity }}</b></p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-3 pr-2 text-right table-footer text-uppercase">
                            {% include 'basket/includes/basket_total.html' %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right py-3">
                            {% include 'basket/includes/checkout_button.html' %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {% else %}
        <!-- Shows this if no item has been added to the basket -->
        <div class="col-12 text-center text-uppercase">
            <span class="basket-icon">
                <i class="fas fa-shopping-basket fa-5x"></i>
            </span>
            <p class="basket-empty-p">Your Basket is empty!</p>
            <h4><a href="{% url 'products' %}" class="basket-btn btn btn-lg btn-dark rounded-0 py-3">
                    <i class="fas fa-chevron-left"></i>Continue Shopping</a></h4>
        </div>
        {% endif %}
    </div>
</div>
</div>

<!-- Back to top button -->
<div class="back-to-top-btn">
    <a class="back-to-top-link">
        <i class="fas fa-arrow-up fa-2x"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Back to top button function
    $('.back-to-top-link').click(function () {
        $('html, body').scrollTop(0); // Takes the user to the top of the page
    });

    // Updates quantity on click function
    $('.update-qty-link').click(function (e) {
        let form = $(this).prev('.update-form');
        form.submit();
    });

    // Removes product from basket and reloads page on click function
    $('.remove-item-link').click(function (e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let size = $(this).data('product_size');
        let url = `/basket/remove/${itemId}/`;
        let data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_size': size
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    });
</script>

{% endblock %}