html {
    height: 100%;
}

body {
    font-family: Archivo, Montserrat, Sans-serif;
    background: url("/static/images/homepage-bg.jpg") no-repeat center top fixed;
    background-size: cover;
}

.site-header {
    background-color: #000000;
}

.site-logo {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
}

.site-search i {
    color: #CEFF1A;
}

.account-link p i {
    color: #CEFF1A;
    margin-left: 5px;
}

.shop-basket p {
    color: #CEFF1A;
}