html {
    height: 100%;
}

body {
    font-family: Archivo, Montserrat, Sans-serif;
    background: url("/static/images/homepage-bg.jpg") no-repeat center top fixed;
    background-size: cover;
}

.site-header {
    background-color: #000000;
}

.site-logo {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.site-logo:hover {
    color: #FFFFFF;
}

.site-search i {
    color: #CEFF1A;
}

.account-link p i {
    color: #CEFF1A;
    margin-left: 5px;
}

.shop-basket p {
    color: #CEFF1A;
}

.home-slogan {
    display: inline-flex;
    padding: 5px 20px;
    color: #CEFF1A;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.25);
}

.shop-now-btn {
    color: #FFFFFF;
    background-color: #000000;
}

.shop-now-btn:hover {
    background-color: #CEFF1A;
    color: #000000;
}

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 250px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 250px;
    }
}