html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: Archivo, Montserrat, Sans-serif;
    background: url("/media/homepage-bg.jpg") no-repeat top center fixed;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-header {
    background-color: #000000;
}

.site-logo {
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.site-logo:hover {
    color: #FFFFFF;
}

.site-search i {
    color: #CEFF1A;
}

.account-link p {
    font-size: 14px;
}

.shop-total p {
    font-size: 14px;
}

.navbar-toggler i {
    color: #CEFF1A;
    font-size: 22px;
}

.mob-nav-icons {
    font-size: 22px;
}

.navbar-nav li a {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
}

.navbar-nav li a:hover {
    color: #CEFF1A;
}

.dropdown-menu a {
    color: #000000 !important;
}

.dropdown-menu a:hover {
    background-color: transparent;
}

.home-slogan {
    display: inline-flex;
    padding: 5px 20px;
    color: #CEFF1A;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.4);
}

.shop-now-btn, 
.basket-btn {
    color: #FFFFFF;
    background-color: #000000;
    min-width: 180px;
    border: 3px solid #000000;
}

.add-to-basket-btn,
.checkout-btn {
    color: #FFFFFF;
    background-color: #000000;
    border: 3px solid #000000;
}

.shop-now-btn:hover,
.basket-btn:hover,
.add-to-basket-btn:hover,
.checkout-btn:hover {
    background-color: #CEFF1A;
    color: #000000;
    font-weight: bold;
    border: 3px solid #000000;
}

.basket-btn {
    margin: 30px 0 30px 0;
    font-size: 16px;
}

.add-to-basket-btn {
    font-size: 16px;
}

.basket-btn i,
.add-to-basket-btn i {
    margin-right: 5px;
}

.delivery-notice {
    background-color: #CEFF1A;
    color: #000000;
}

.homepage {
    padding-top: 75px;
    flex: 1 0 auto;
}

.product-pages {
    flex: 1 0 auto;
}

.basket-page {
    flex: 1 0 auto;
}

.site-footer {
    background: #000000;
    bottom: 0;
    width: 100%;
    position: relative;
}

footer {
    padding-top: 10px;
}

.social-title h6 {
    font-size: 14px;
    margin-top: 10px;
}

.site-footer i {
    color: #FFFFFF;
    margin: 0 5px 0 5px;
    font-size: 22px;
}

.site-footer i:hover {
    color: #CEFF1A;
}

.site-footer a {
    text-decoration: none;
}

.site-footer a:hover {
    text-decoration: none;
}

.contact-info h6 {
    margin: 10px 0 10px 0;
    font-size: 14px;
}

.contact-info span {
    text-transform: uppercase;
}

.copyright-info {
    background-color: #7E7F83;
    margin-top: 10px;
}

.copyright-info h6 {
    margin: 5px 0 5px 0;
    font-weight: bold;
    font-size: 14px;
}

.overlay {
    height: 100%;
    width: 100%;
    background: #FFFFFF;
    top: 0;
    position: fixed;
}

.product-image {
    height: 250px;
    object-fit: cover;
}

.title-line {
    border-top: 1px solid #000000;
    box-shadow: 0 0 5px #7E7F83;
}

.card-title {
    font-size: 14px;
    font-weight: bold;
}

.card-body {
    background-color: #F5F5F5;
}

.product-rating {
    color: #7E7F83;
    font-size: 14px;
}

.product-category {
    font-size: 14px;
    margin-right: 5px;
}

.product-category a {
    color: #7E7F83;
}

.product-detail-img {
    height: 350px;
    object-fit: cover;
}

.product-desc {
    color: #7E7F83;
}

.increment-quantity,
.decrement-quantity {
    background-color: #000000;
    color: #FFFFFF;
}

.increment-quantity:hover,
.decrement-quantity:hover {
    background-color: #CEFF1A;
    color: #000000;
}

.back-to-top-btn i {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #FFFFFF;
    background-color: #000000;
    border: 3px solid #FFFFFF;
    padding: 7.5px;
    z-index: 1000;
}

.back-to-top-btn i:hover {
    color: #000000;
    background-color: #CEFF1A;
    border: 3px solid #000000;
    cursor: pointer;
}

.product-amount {
    color: #7E7F83;
}

.search-not-found {
    font-weight: bold;
    color: #000000;
}

.basket-icon i {
    padding-top: 20px;
}

.basket-empty-p {
    padding-top: 10px;
    font-size: 20px;
}

.basket-amount {
    color: #CEFF1A;
}

.basket-image {
    height: 200px;
    width: 300px;
    object-fit: cover;
}

.table-header,
.table-footer {
    background-color: #7E7F83;
    color: #CEFF1A;
}

.update-qty-link,
.remove-item-link {
    cursor: pointer;
}

.update-qty-link small {
    font-weight: bold;
    text-decoration: underline;
}

.remove-item-link small {
    color: red;
}

.remove-item-link small:hover {
    text-decoration: underline;
}

.message-container {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 1000000;
}

.custom-toast {
    overflow: visible;
    border: 2px solid #000000;
}

.toast-wrapper {
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

.toast-header-success {
    background-color: #CEFF1A;
    color: #000000;
}

.toast-image {
    object-fit: cover;
    height: 75px;
    width: 100px;
    box-shadow: 2px 2px 4px #000000;
}

.toast-delivery-notice {
    background-color: #7E7F83;
    color: #CEFF1A;
}

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 190px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 160px;
    }
}