<footer class="site-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 offset-md-4 order-md-last">
                <div class="text-center">
                    <h6 class="text-uppercase text-white">Follow us:</h6>
                    <i class="fab fa-facebook-square fa-2x"></i>
                    <i class="fab fa-twitter-square fa-2x"></i>
                    <i class="fab fa-instagram-square fa-2x"></i>
                    <i class="fab fa-pinterest-square fa-2x"></i>
                </div>
            </div>
            <div class="col-12 col-md-4 order-md-first text-center">
            </div>
        </div>
        <div class="row copyright-info">
            <div class="col-12 text-center">
                <h6 class="text-uppercase text-white">
                    Proper Clobber / Paul Frankling 2021&#169;
                </h6>
            </div>
        </div>
    </div>
</footer>