<footer class="site-footer">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-12 col-md-4">
                <!-- Social media -->
                <div class="text-center social-title">
                    <h6 class="text-uppercase text-white">Follow us</h6>
                    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i>
                        <span class="sr-only">Facebook</span></a>
                    <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i>
                        <span class="sr-only">Twitter</span></a>
                    <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i>
                        <span class="sr-only">Instagram</span></a>
                    <a href="https://www.pinterest.co.uk" target="_blank"><i class="fab fa-pinterest"></i>
                        <span class="sr-only">Pinterest</span></a>
                </div>
            </div>

            <!-- Site information -->
            <div class="col-12 col-md-4 offset-md-4 text-white contact-info">
                <h6><span>Tel</span>: 01234 567890</h6>
                <h6><span>Email</span>: properclobber@example.com</h6>
            </div>
        </div>

        <!-- Copyright information -->
        <div class="row copyright-info">
            <div class="col-12 text-center">
                <h6 class="text-uppercase">
                    Proper Clobber / Paul Frankling 2021 &#169;
                </h6>
            </div>
        </div>
    </div>
</footer>