<ul class="list-inline">
    <!-- Mobile Navigation bar -->
    <li class="list-inline-item">
        <a class="text-white nav-link mt-4 d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
                <div><i class="fas fa-search mob-nav-icons"></i></div>
            </div>
        </a>

        <!-- Mobile Search bar -->
        <div class="dropdown-menu p-3 rounded-0 my-0 w-100 site-search" aria-labelledby="mobile-search">
            <form method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                    <input class="form-control border border-white" type="text" name="q" placeholder="Search for items">
                    <div class="input-group-append">
                        <button class="form-control btn btn-dark border border-white rounded-0" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </li>

    <!-- Mobile Account dropdown menu -->
    <li class="list-inline-item dropdown dropleft">
        <a href="#" class="nav-link text-white d-block d-lg-none" id="user-options" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
                <div><i class="fas fa-user-circle mob-nav-icons"></i></div>
            </div>
        </a>
        <div class="dropdown-menu" aria-labelledby="user-options">
            {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
            <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
            <a href="{% url 'add_post' %}" class="dropdown-item">Blog Management</a>
            {% endif %}
            <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Log out</a>
            {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Log In</a>
            {% endif %}
        </div>
    </li>

    <!-- Mobile Basket link -->
    <li class="list-inline-item">
        <a href="{% url 'view_basket' %}" class="nav-link text-white d-block d-lg-none">
            <div class="text-center shop-basket">
                <div><i class="fas fa-shopping-basket mob-nav-icons"></i></div>
            </div>
        </a>
    </li>
</ul>