<div class="collapse navbar-collapse" id="site-nav">
    <ul class="navbar-nav mx-auto w-auto">
        <li class="nav-item">
            <a class="nav-link mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-5" href="{% url 'products' %}" id="all-products-link">
                All Products
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="tailoring-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Tailoring <i class="fas fa-caret-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="tailoring-link">
                <a href="{% url 'products' %}?category=suits" class="dropdown-item">Suits</a>
                <a href="{% url 'products' %}?category=suit_jackets" class="dropdown-item">Suit Jackets</a>
                <a href="{% url 'products' %}?category=suit_trousers" class="dropdown-item">Suit Trousers</a>
                <a href="{% url 'products' %}?category=shirts" class="dropdown-item">Shirts</a>
                <a href="{% url 'products' %}?category=suits,suit_jackets,suit_trousers,shirts" class="dropdown-item">All Tailoring</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="footwear-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Footwear <i class="fas fa-caret-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="footwear-link">
                <a href="{% url 'products' %}?category=brogue" class="dropdown-item">Brogue</a>
                <a href="{% url 'products' %}?category=loafers" class="dropdown-item">Loafers</a>
                <a href="{% url 'products' %}?category=oxford" class="dropdown-item">Oxford</a>
                <a href="{% url 'products' %}?category=brogue,loafers,oxford" class="dropdown-item">All Footwear</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="accessories-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Accessories <i class="fas fa-caret-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=belts" class="dropdown-item">Belts</a>
                <a href="{% url 'products' %}?category=ties" class="dropdown-item">Ties</a>
                <a href="{% url 'products' %}?category=watches" class="dropdown-item">Watches</a>
                <a href="{% url 'products' %}?category=belts,ties,watches" class="dropdown-item">All Accessories</a>
            </div>
        </li>
    </ul>
</div>