{% extends "base.html" %}
{% load static %}

{% block page_header %}

<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container blog-pages">
    <!-- Blog Title -->
    <div class="row">
        <div class="col-12 text-center text-uppercase">
            <h3>Blog</h3>
            <hr class="title-line">
        </div>
    </div>

    <!-- Blog post details -->
    <div class="row">
        <div class="col-12 col-md-4 my-3">
            {% if post.image %}
            <img src="{{ post.image.url }}" class="card-img-top img-fluid post-image" alt="{{ post.title }}">
            {% else %}
            <img src="{{ MEDIA_URL }}no_image.png" class="card-img-top img-fluid post-image" alt="{{ post.title }}">
            {% endif %}
        </div>
        <div class="col-12 col-md-8">
            <h4 class="text-uppercase my-3">{{ post.title }}</h4>
            {% if post.author %}
            <p class="text-muted">Author: {{ post.author }}</p>
            {% endif %}
            <p class="text-muted">Posted: {{ post.post_date }}</p>
            <p class="text-muted">Credit:
                {% if post.author %}
                {{ post.author }}
                {% endif %} |
                {% if post.blog_source %}
                <a href="{{ post.source_url }}" target="_blank">{{ post.blog_source }}</a>
                {% endif %}</p>
            {% if request.user.is_superuser %}
            <!-- Edit post button (Takes superuser to Blog Management (Edit_post page))-->
            <div class="text-uppercase pt-3 mb-2">
                <a href="{% url 'edit_post' post.id %}" class="btn btn-primary rounded-0">Edit
                    <i class="fas fa-pen"></i>
                </a>
                <!-- Delete post button that pops up a deletion confirmation modal -->
                <a href="#myModal" class="btn btn-danger rounded-0" data-toggle="modal">Delete
                    <i class="far fa-trash-alt"></i></a>
            </div>
            <!-- Delete post confirmation modal -->
            <div class="modal text-uppercase" id="myModal" tabindex="-1" role="dialog">
                <div class="modal-dialog bg-white" role="document">
                    <div class="modal-header">
                        <h6 class="modal-title font-weight-bold">Are you sure you want to delete this Post?</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary rounded-0 text-uppercase" data-dismiss="modal">Cancel</button>
                        <a href="{% url 'delete_post' post.id %}" class="btn btn-danger rounded-0">Delete
                            <i class="far fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="blog-preview text-uppercase">{{ post.article|linebreaks }}</p>
            <!-- Button takes user to the origin of blog post -->
            <a href="{{ post.source_url }}" target="_blank"
                class="read-more-btn btn btn-dark rounded-0 text-uppercase float-right mt-2 mb-4">Read Full Article
                Here</a>
        </div>
    </div>
</div>

<!-- Back to top button -->
<div class="back-to-top-btn">
    <a class="back-to-top-link">
        <i class="fas fa-arrow-up fa-2x"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    // Back to top button function
    $('.back-to-top-link').click(function () {
        $('html, body').scrollTop(0); // Takes the user to the top of the page
    });
</script>

<script type="text/javascript">
    // Delete product confirmation modal
    $('#mymodal').modal('show');
</script>
{% endblock %}