{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
<div class="allauth-box mt-2 mb-4 text-uppercase small">
    <h2 class="my-2">{% trans "Set Password" %}</h2>

        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" name="action" value="{% trans 'Set Password' %}" />
        </form>

</div>
{% endblock %}