<!-- Quantity form for Basket page -->
<form class="form update-form" method="POST" action="{% url 'adjust_basket' item.item_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group input-group-{{ item.item_id }}">
            <div class="input-group-prepend">
                <button
                    class="btn btn-black btn-sm btn-dark decrement-quantity decrement-quantity_{{ item.item_id }}_{{ item.size }} rounded-0"
                    data-item_id="{{ item.item_id }}" data-product_size="{{ item.size }}">
                    <i class="fas fa-minus fa-sm"></i>
                </button>
            </div>
            <input class="form-control form-control-sm quantity_input id_quantity_{{ item.item_id }}_{{ item.size }} rounded-0"
                type="number" name="quantity" value="{{ item.quantity }}" min="1" max="10"
                data-item_id="{{ item.item_id }}" data-product_size="{{ item.size }}">
            <div class="input-group-append">
                <button class="btn btn-black btn-sm btn-dark increment-quantity increment-quantity_{{ item.item_id }}_{{ item.size }} rounded-0"
                    data-item_id="{{ item.item_id }}" data-product_size="{{ item.size }}">
                    <i class="fas fa-plus fa-sm"></i>
                </button>
            </div>
            {% if item.product.has_clothing_sizing or item.product.has_footwear_sizing %}
            <input type="hidden" name="product_size" value="{{ item.size }}">
            {% endif %}
        </div>
    </div>
</form>
<!-- Update and remove links to change quantity of item(s) -->
<a class="update-qty-link text-uppercase"><small>Update</small></a>
<a class="remove-item-link text-uppercase float-right" id="remove_{{ item.item_id }}"
    data-product_size="{{ item.size }}">
    <small>Remove</small></a>