/* Checkout buttons styling */
.adjust-basket-btn {
    background-color: #FFFFFF;
    color: #000000;
    border: 3px solid #000000;
    margin: 5px 5px 5px 0;
}

.order-btn {
    background-color: #000000;
    color: #FFFFFF;
    border: 3px solid #000000;
    margin: 5px 5px 5px 0;
}

.adjust-basket-btn:hover {
    background-color: #7E7F83;
    color: #FFFFFF;
    font-weight: bold;
    border: 3px solid #000000;
}

.order-btn:hover {
    background-color: #CEFF1A;
    color: #000000;
    font-weight: bold;
    border: 3px solid #000000;
}

/* Checkout image styling */
.checkout-image {
    -o-object-fit: cover;
       object-fit: cover;
    height: 80px;
    width: 100px;
    -webkit-box-shadow: 2px 2px 4px #000000;
            box-shadow: 2px 2px 4px #000000;
}

.form-control {
    color: #000000;
}

/* Stripe fields styling */
.StripeElement,
.stripe-style-input,
select,
select option {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 1px 3px 0 #7E7F83;
            box-shadow: 0 1px 3px 0 #7E7F83;
    -webkit-transition: box-shadow 150ms ease;
    -webkit-transition: -webkit-box-shadow 150ms ease;
    transition: -webkit-box-shadow 150ms ease;
    -o-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease, -webkit-box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active,
select,
select option {
    -webkit-box-shadow: 0 1px 3px 0 #7E7F83;
            box-shadow: 0 1px 3px 0 #7E7F83;
}

.StripeElement--webkit-autofill {
    background-color: #7E7F83 !important;
}

.stripe-style-input::-webkit-input-placeholder {
    color: #7E7F83;
}

.stripe-style-input::-moz-placeholder {
    color: #7E7F83;
}

.stripe-style-input:-ms-input-placeholder {
    color: #7E7F83;
}

.stripe-style-input::-ms-input-placeholder {
    color: #7E7F83;
}

.stripe-style-input::placeholder {
    color: #7E7F83;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #7E7F83 !important;
}

/* Checkout success page styling that borders all order information */
.order-confirm-wrapper {
    border: 2px solid #000000 !important;
    -webkit-box-shadow: 2px 2px 4px #000000;
            box-shadow: 2px 2px 4px #000000;
    padding: 10px;
}

/* Loading spinner when payment processing styling */
#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(222, 222, 222, 0.50);
    z-index: 9999;
}

.loading-spinner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    height: 100%;
}

.loading-spinner i {
    color: #000000;
}